<% layout("/layouts/boilerplate")%>
<% if(errorMsg && errorMsg.length){%>
    <div class="alert alert-warning successStyle" role="alert">
        <%=errorMsg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>
<% if(successMsg && successMsg.length){%>
    <div class="alert alert-success successStyle" role="alert">
        <%=successMsg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

    <div class="bodyNew">    
    <div class="form-div">
        <form method="POST" novalidate class="validationFlex needs-validation"   action="/listing/<%=i.id%>?_method=PUT" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" id="title" class="form-control" name="title" required value="<%=i.title%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Title.
                    </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <input type="text" id="description" class="form-control" name="description"required row="2" value="<%=i.description%>">
                <div class="valid-feedback">
                        Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Description.
                </div>
            </div>
            <label >Original Image: </label>
            <div class="text-center">
                <img src="<%= i.image.url %>" class="rounded" alt="<%= i.image.filename %>" height="150px">
            </div>
            <br>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image:  </label>
                <input type="file" id="image" name="image"  class="form-control">
                <div class="valid-feedback">
                        Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Image.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price: </label>
                <input type="number" id="price" name="price"required class="form-control" min="1" max="1000000" value="<%=i.price%>">
                <div class="valid-feedback">
                        Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Price.
                </div>
            </div>
            <div class="mb-3">
                <label for="form-select">Category: </label>
                <select class="form-select" aria-label="Default select example" name="category" required>
                    <option value="trending" <%if(i.category=="trending"){%>selected<%}%> >Trending</option>
                    <option value="rooms" <%if(i.category=="rooms"){%>selected<%}%> >Rooms</option>
                    <option value="iconic-city" <%if(i.category=="iconic-city"){%>selected<%}%> >Iconic City</option>
                    <option value="mountains" <%if(i.category=="mountains"){%>selected<%}%>>Mountains</option>
                    <option value="castles" <%if(i.category=="castles"){%>selected<%}%> >Castles</option>
                    <option value="pools" <%if(i.category=="pools"){%>selected<%}%> >Amazing Pools</option>
                    <option value="camping" <%if(i.category=="camping"){%>selected<%}%> >Camping</option>
                    <option value="farms" <%if(i.category=="farms"){%>selected<%}%> >Farms</option>
                    <option value="arctic" <%if(i.category=="arctic"){%>selected<%}%> >Arctic</option>
            </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select category.
                </div>
            </div>
            <div class="mb-3 place">
                <div class="mb-3 info">
                    <label for="location" class="form-label">Location: </label>
                    <input type="text" id="location" name="location"required class="form-control" value="<%=i.location%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Location.
                    </div>
                </div>
                
                <div class="mb-3 info">
                    <label for="country" class="form-label">Country: </label>
                    <input type="text" id="country" name="country"required class="form-control" value="<%=i.country%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Country.
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" type="submit" >Update</button>
        </form>
    </div>
    </div>
